.reducBanner {
  position: relative;
  padding: 16px 0;
  text-align: center;
}

.reducBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: url('../../../../assets/reducBanner.png');
  background-size: cover;
  opacity: 0.3;
}

.reducBanner>div {
  position: relative;
}

.reducBanner h3 {
  margin-bottom: 4px;
}

.reducBanner p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #23262F;
}

.cartItem {
  display: flex;
  justify-content: space-between;
}

.cartItem .ciContent {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cartItem .ciImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background: #23262F;
  border-radius: 16px;
}

.cartItem .ciImg img {
  width: 100%;
  height: auto;
}

.cartItem .ciInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItem h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.cartItem p {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #87898E;
}

.cartItem span {
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
}

.cartItem .ciAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8px;
  height: 89px;
}

.cartItem .ciAction button {
  width: 28px;
  height: 28px;
  border: 1px solid #23262F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  stroke: #FFFFFF;
}

.cartItem .ciAction span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.cartTotal h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.cartTotal span {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}
