.homePage {
    padding-top: 23px !important;
    display: flex;
    flex-direction: column;
}

.homePage>section {
    display: flex;
    cursor: default;
    width: 100%;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.userInfo>div {
    display: flex;
    align-items: center;
}

.userInfo svg {
    margin-right: 4px;
    stroke: #87898E;
}

.userInfo span {
    color: #87898E;
    font-weight: 400;
    font-size: 15px;
    line-height: 2px;
}

/* Chips group */
.chipsGroup {
    display: flex;
    height: fit-content;
    min-width: 100vw;
    position: relative;
    left: -38px;
    overflow: visible hidden;
    gap: 15px;
}

.chipsGroup .chipsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 92px;
    height: 38px;
    background: #23262F;
    color: #4AFF3A;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.chipsGroup .chipsButton:first-child {
    margin-left: 38px;
}

.chipsGroup .chipsButton:last-child {
    margin-right: 38px;
}

.chipsGroup .chipsButton:hover {
    background-color: #484C56;
}

.chipsGroup .chipsButton.active {
    background: #4AFF3A;
    color: #171719;
}

.chipsGroup .chipsButton.active:hover {
    background-color: #32BE26;
}

/* Shop Item List */
.shopItemList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 22px 17px;
}

.shopItem {
    background-color: #23262F;
    padding: 4px 12px 14px;
    border-radius: 16px;
    width: calc(50% - 8.5px);
    min-width: 148px;
    max-width: 190px;
    text-decoration: none;
}

.shopItem:hover {
    cursor: pointer;
    background-color: #484C56;
}

.shopItem>img {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.shopItem h6 {
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 7px;
}

.shopItem>div>div {
    display: flex;
    justify-content: space-between;
}

.shopItem span {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
}

.shopItem button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4AFF3A;
    stroke: #171719;
}

.shopItem button:hover {
    background-color: #32BE26;
}

/* Navigation bar */
.navbar {
    background-color: #23262F;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 46px;
    border-top: 0.5px solid #484C56;
}

.navbar .navIcon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #484C56;
}

.navbar .navIcon:hover {
    cursor: pointer;
    background-color: #484C56;
    fill: #FFFFFF;
}

.navbar .navIcon.active {
    fill: #FFFFFF;
}

.navbar .navIcon.active::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 3px;
    background-color: #4AFF3A;
    top: 0;
}
