.profilePage {
    display: flex;
    flex-direction: column;
}

.profileCard {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 47px;
    width: 100%;
    height: 98px;
    background-color: #23262F;
    border-radius: 16px;
    align-items: flex-end;
}

.profileCard>button {
    cursor: pointer;
}

.profileCard>.info {
    display: flex;
    gap: 16px;
}

.profileCard>.info img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.profileCard .infoText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profileCard .infoText p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.profileCard .infoText span {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #87898E;
}

.disconnect {
    color: #FF2D55;
}
