.addCreditCardPage {
  display: flex;
  flex-direction: column;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cardInfo>.creditCard {
  width: 327px;
  height: 186px;
  position: relative;
  background: #23262F;
  border-radius: 16px;
}

.cardInfo>.creditCard>svg {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 239px;
  top: 16px;
}

.cardInfo>.creditCard>h3 {
  position: absolute;
  left: 7.34%;
  bottom: 25.32%;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #87898E;
}

.cardInfo>.creditCard>h4 {
  position: absolute;
  left: 7.34%;
  bottom: 10.4%;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #87898E;
}

.cardInfo>.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardInfo>.inputGroup>div {
  display: flex;
  flex-direction: row;
  gap: 17px;
}