@font-face {
  font-family: "ReadexPro";
  src: url("../assets/fonts/ReadexPro/ReadexPro-VariableFont_wght.ttf") format("woff2 supports variations"),
    url("../assets/fonts/ReadexPro/ReadexPro-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 1000;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
  background-color: #171719;
  height: calc(100vh - calc(100vh - 100%));
}

body {
  overflow: hidden visible;
  height: 100%;
}

#root {
  height: 100%;
}

.logo-large {
  width: 218px;
}

.profilePicture {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5px solid #484C56;
}

.profilePicture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

/* Input/Button Group */
.inputGroup {
  display: flex;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Text */
.inputText {
  background-color: #23262F;
  border: 2px solid #484C56;
  width: 100%;
  border-radius: 12px;
}

.inputText input {
  background-color: #23262F;
  color: white;
  border: 0;
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.inputText input::placeholder {
  color: #87898E;
}

/* Input Checkbox */
.inputCheckbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
}

/* .inputCheckbox input {
  cursor: pointer;
  visibility: visible;
  margin: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
}

.inputCheckbox input::after {
  visibility: visible;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23262F;
  border: 1px solid #87898E;
  border-radius: 3px;
  height: 14px;
  width: 14px;
} */

.inputCheckbox>input:checked~input::after {
  background-color: #171719 !important;
}

.inputGroup .passwordWarning {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* Button Main */
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 50px;
}

.buttonMain {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171719;
  width: 232px;
  height: 56px;
  background: #4AFF3A;
}

.buttonMain:hover {
  background-color: #32BE26;
}

/* Link Text */
.linkText {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4AFF3A;
  text-decoration: none;
}

span .linkText {
  font-size: inherit;
}

.linkText:hover {
  color: #32BE26;
}

/* Text paragraphe */
.paragTitle {
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
}

.underTextMedium {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.underTextLight {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.fontBold {
  font-weight: 500;
}

/* Padding page */
.mainPadding {
  padding: 0 38px 32px;
}
