.confirmCodeLabel {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.confirmCodeLabel input {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: red;
    opacity: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.confirmCodeCase {
    border: 2px solid #23262F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}

.flexEndText {
    display: flex;
    justify-content: flex-end;
}

.passSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
}
