.profilePage .profileAvatar {
    text-align: center;
}

.profilePage .profileAvatar img {
    width: 99px;
    height: 99px;
    border-radius: 50%;
}

.editProfileDown {
    position: relative;
    left: -38px;
    width: 100vw;
    height: 100vh;
    padding: 47px 50px;
    background-color: #23262F;
    border-radius: 24px 24px 0px 0px;
}
