.returnTitle {
    display: flex;
    position: relative;
    margin-top: 23px;
    height: 36px;
}

.returnTitle svg {
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
    fill: #23262F;
}

.returnTitle h3 {
    flex-grow: 1;
    text-align: center;
}
