.signPage {
    padding: 23px 38px 32px;
}

/* Sign Header */

.signPage section {
    display: flex;
    flex-direction: column;
}

.signPage section :first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signTab {
    display: flex;
    height: fit-content;
}

.signTab button {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.signTab :first-child {
    margin-right: 30px;
}

.signTab button.active {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
}

.signTab button.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 3px;
    background-color: #4AFF3A;
    width: 100%;
}

/* Sign Forms */
.signForm {
    display: flex;
    flex-direction: column;
}

.buttonGroup>hr {
    text-align: center;
    overflow: visible;
    margin-top: 0;
    height: 0;
    width: 274px;
    border: 0;
    border-top: 1px solid #484C56;
}

.buttonGroup>hr::after {
    content: 'ou';
    background-color: #171719;
    position: relative;
    top: -9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0 21px;
}

.socialSignButtonGroup {
    display: flex;
}

.socialSignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    padding: 16px 10px;
    background-color: #23262F;
}

.socialSignButton:hover {
    background-color: #484C56;
}

.socialSignButton img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
