.billingPage {
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  width: 100vw;
  position: relative;
  left: -38px;
  background: #3A463A;
}

.address .addrInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.address .addrDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding-left: 24px;
  border-left: 1px solid #23262F;
}

.address p {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.paymentMethod {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paymentMethod h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.paymentMethod p {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.paymentMethod .options {
  display: flex;
  justify-content: space-between;
}

.paymentMethod .options .method {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paymentMethod .options .iconBox {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23262F;
  border-radius: 10px;
}

.paymentMethod .options .radioGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentMethod .options input {
  width: 24px;
  height: 24px;
  margin: 0;
}

.cards {
  position: relative;
  left: -38px;
  padding-left: 38px;
  padding-right: 38px;
  min-width: 100vw;
  overflow: visible hidden;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cards button {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4AFF3A;
  border-radius: 50%;
  stroke: #000000;
}

.cards .creditCard {
  position: relative;
  min-width: 182px;
  height: 117px;
  border-radius: 16px;
  background-color: #23262F;
}

.cards .creditCard svg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 21px;
}

.cards .creditCard .cardNum {
  position: absolute;
  bottom: 20px;
  left: 18px;
  display: flex;
  gap: 9.50px;
}

.cardNum div {
  display: flex;
  align-items: center;
  gap: 3.85px;
}

.cardNum>.crypt p {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary .billingInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #23262F;
}

.summary .billingInfo>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.summary .billingTotal {
  display: flex;
  justify-content: space-between;
}

.summary .billingTotal p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.summary .billingTotal span {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}

.summary p {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.summary span {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}