.productPage {
    background-color: #23262F;
}

.productTop {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding: 60px 38px 60px;
}

.productTop .returnTitle {
    width: 36px;
}

.productTop .returnTitle svg {
    fill: #171719;
}

.productTop .imgCont {
    width: 254px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productTop .imgCont img {
    width: 100%;
    height: auto;
}

.selectNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectNumber>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px 0;
}

.selectNumber button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #171719;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectNumber button svg {
    stroke: #FFFFFF;
}

/* Product Info */
.productInfo {
    border-radius: 16px 16px 0 0;
    background-color: #171719;
    padding: 36px 28px;
}

.productInfo .productTitle {
    display: flex;
    justify-content: space-between;
}

.productInfo .productTitle h3:first-child {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}