.aboutUsPage {
  display: flex;
  flex-direction: column;
}

.aboutTab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.aboutTab h3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 15px;
}

.aboutTab h3:last-child {
  text-align: end;
}

.aboutTab h3::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #87898E;
  height: 2px;
  bottom: -2px;
}

.aboutTab h3.active::after {
  background-color: #4AFF3A;
}

.aboutTab h3:hover {
  cursor: pointer;
}

.aboutTab h3:hover::after {
  background-color: #465d4c;
}

.aboutTab h3:hover.active::after {
  background-color: #32BE26;
}

/* Text style */
.aboutTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.aboutSecondary {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
}

.activeText {
  color: #4AFF3A;
}

/* About Description */
.aboutDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.aboutDesc>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
  width: 263px;
}

.aboutDesc>div>p {
  text-align: center;
}

/* Image Compare Box */
.imageCompare {
  display: flex;
  align-items: center;
  min-width: 100vw;
  position: relative;
  left: -38px;
  gap: 0 20px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.imageCompare img {
  border-radius: 25px;
  width: 331px;
  height: auto;
}

.imageCompare img:first-child {
  margin-left: 38px;
}

.imageCompare img:last-child {
  margin-right: 38px;
}

/* Divider */
.divider {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0 6px;
}

.divider span {
  height: 5px;
  border-radius: 30px;
  background-color: #32BE26;
  width: 17px;
}

.divider span.active {
  background-color: #4AFF3A;
  width: 26px;
}

.divider span:hover {
  background-color: #4AFF3A;
  cursor: pointer;
}
