.billingAcceptPage {
  display: flex;
  flex-direction: column;
  padding: 0 38px;
}

.orderGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderItem {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  background-color: #23262F;
  border-radius: 16px;
}

.orderItem .orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderItem .orderInfo h4 {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  max-width: 146px;
}

.orderItem .orderChips {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  border-radius: 24px;
}

.orderItem .orderChips.waiting {
  background: rgba(255, 191, 28, 0.2);
  color: #FFB21C;
}

.orderItem h5 {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #87898E;
}

.orderRecap {
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  left: -38px;
  background-color: #23262F;
  padding: 32px 24px 0px;
  gap: 32px;
  height: 100vh;
}

.orderRecap .orderListItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orderListItem h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.orderListItem>div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orderListItem .itemOrder {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.orderListItem .itemOrder>div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.orderListItem .itemOrder>span {
  display: flex;
  align-items: center;
}

.orderListItem .itemOrder>div>span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #484C56;
  border-radius: 6px;
}

.orderListItem .itemOrder p {
  font-weight: 500;
  line-height: 21px;
}

.orderRecap .orderDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderRecap .orderDetails>div {
  display: flex;
  justify-content: space-between;
}

.orderRecap .orderDetails p {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.orderRecap .orderDetails div.total p {
  font-weight: 400;
  line-height: 20px;
}

.orderRecap .orderDetails span {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.orderRecap .orderDetails div.total span {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}

.orderRecap .orderDetails>div>div.cardNum {
  display: flex;
  gap: 12px;
}